#navbar-links{
    background-color: #fff;
}

.container-main{
    margin: 0 5rem;
}

.container-fluid{
    padding: 0 0 5rem 0 ; /* separando carrosel das outras sessoes */
}

.section-result{
    background-color: #fff8f0be;
}

.section-beneficios{
    background-color:#f0fdffab;
}
