section{
    display: block;
    width:100%;
    padding: 5rem 0 5rem 0 ; /* distancia entre a session resultados e o carrosel*/
}
footer{
    height: 10rem;
    width: 100% ;
    background-color: #a5a5a5
}
    