{% block navbar %}
<header>
    <div class="container-nav" id="nav-container">
        <nav class="navbar navbar-expand-sm navbar-light">
            <a href="#" class="navbar-brand">
                <img id="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="Herbalife Ademir e Barbára">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
                aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">...</span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbar-links">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="home-menu" href="{{ url_for('site.index') }}">Home</a>
                    <a class="nav-item nav-link" id="produto-menu" href="{{ url_for('Produtos.products') }}">Produtos</a>
                    <a class="nav-item nav-link" id="feed-menu" href="{{ url_for('Feed.feed') }}">Feed</a>
                </div>
                <div class="navbar-nav dropdown">
                    {% if current_user.is_anonymous %}
                    <a class="nav-item nav-link" id="login-menu" role="button" aria-expanded="false" href="{{ url_for('auth.login') }}">Entrar</a>
                    <a class="nav-item nav-link" id="cadastro-menu" role="button" aria-expanded="false"href="{{ url_for('auth.register') }}">Cadastre-se</a>
                    {% else %}
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" id="home-menu" href="#">Perfil</a>
                        <a class="nav-item nav-link" id="home-menu" href="{{ url_for('auth.logout') }}">Sair</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}