{% extends "base.html" %}

{% block app_content %}
<main>
    <section class="section-top">
        <div class="container container-top">
            <div class="row">
                <div class="col-5 d-flex flex-sm-column justify-content-center text-top">
                    <h1>Acompanhamento personalizado</h1>
                    <p> O profissional de educação física determina e orienta os
                        exercícios a serem realizados pelo paciente, promovendo a saúde
                        por meio da prática de atividades físicas. Ainda, define fatores
                        como o tipo e a intensidade das práticas conforme o peso, a
                        estatura e a circunferência, considerando sempre a avaliação das
                        equipes médicas.
                    </p>
                </div>
                <div class="col-7 img-top">
                    <img src="{{url_for('static', filename='img/Herbalife-progr.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </section>
    <div id="about-area">
        <section class="section-result section-additional-result active ">
            <div class="container-result container-main">
                <div class="col-12">
                    <h3 class="main-title title-result">Nossos Resultados</h3>
                </div>
                <div class="card-group row mb-3 justify-content-center d-flex align-items-center"">
            <div class=" col-md-3">
                    <div class="card text-left">
                        <img class="card-img-top" src="{{url_for('static', filename='img/resultados1.jpg')}}"
                            alt="Resultados">
                        <div class="card-body align-items-center">
                            <h2 class="card-title">Fernada</h2>
                            <p class="card-text d-flex align-items-center">
                                <i class="bi bi-clock-history"></i>
                                <small class="text-muted"> 60 dias</small>
                            </p>
                            <p class="card-text d-flex align-items-center">
                                <img src="{{url_for('static', filename='img/fire.svg')}}" alt="">
                                <small class="text-muted">-20kg</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-left">
                        <img class="card-img-top" src="{{url_for('static', filename='img/resultados1.jpg')}}"
                            alt="Resultados">
                        <div class="card-body">
                            <h2 class="card-title">Amanda</h2>
                            <p class="card-text d-flex align-items-center">
                                <i class="bi bi-clock-history"></i>
                                <small class="text-muted">31 dias</small>
                            </p>
                            <p class="card-text d-flex align-items-center">
                                <img src="{{url_for('static', filename='img/fire.svg')}}" alt="">
                                <small class="text-muted">-10kg</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-left">
                        <img class="card-img-top" src="{{url_for('static', filename='img/resultados2.jpg')}}"
                            alt="Resultados">
                        <div class="card-body">
                            <h2 class="card-title">Cecília</h2>
                            <p class="card-text d-flex align-items-center">
                                <i class="bi bi-clock-history"></i>
                                <small class="text-muted">40 dias</small>
                            </p>
                            <p class="card-text d-flex align-items-center">
                                <img src="{{url_for('static', filename='img/fire.svg')}}" alt="">
                                <small class="text-muted">-13kg</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-left">
                        <img class="card-img-top" src="{{url_for('static', filename='img/resultados2.jpg')}}"
                            alt="Resultados">
                        <div class="card-body">
                            <h2 class="card-title">Cecília</h2>
                            <p class="card-text d-flex align-items-center">
                                <i class="bi bi-clock-history"></i>
                                <small class="text-muted">40 dias</small>
                            </p>
                            <p class="card-text d-flex align-items-center">
                                <img src="{{url_for('static', filename='img/fire.svg')}}" alt="">
                                <small class="text-muted">-13kg</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-social section-additional-social active">
            <div class="container-social container-main">
                <div class="row mb-2">
                    <div class="col-md-5">
                        <img class="card-img-top" src="{{url_for('static', filename='img/social.jpeg')}}"
                            alt="Resultados">
                    </div>
                    <div class="col-md-7">
                        <h3 class="text-left" id="title-social">
                            Rede social totalmente exclusiva com dicas,
                            receitas e desafios.
                        </h3>
                        <div class="col-md-10">
                            <p id="text-social">
                                Com tanta variedade de comidas prontas e extremamente calóricas, muita gente pensa que é
                                difícil seguir firme na dieta.
                                Porém, é possível encontrar muitas receitas fit que são saudáveis e ao mesmo tempo
                                saborosas.
                                A maioria delas utiliza ingredientes funcionais e que estão liberados para quem quer se
                                manter no peso ou até mesmo perder uns quilinhos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-beneficios" section-additional-beneficios active>
            <div class="col-12">
                <h3 class="main-title" id="title-beneficios">Nossos benefícios</h3>
            </div>
            <div class="container-beneficios container-main d-flex justify-content-sm-center">
                <!-- Three columns of text below the carousel -->
                <div class="col-lg-4 d-flex align-items-center flex-column beneficios-conteudo">
                    <div class="circle">
                        <img src="{{url_for('static', filename='img/nutricionista.jpg')}}" alt="nutricionista">
                    </div>
                    <h2>Nutricionista</h2>
                    <p>O Nutricionista é o profissional de saúde capacitado para atuar na prevenção,
                        promoção e recuperação da saúde humana, planejando, executando e avaliando
                        ações baseadas nos conhecimentos da ciência da nutrição e alimentação</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4 d-flex align-items-center flex-column beneficios-conteudo">
                    <div class="circle">
                        <img src="{{url_for('static', filename='img/educador.png')}}" alt="Preparador fisíco">
                    </div>
                    <h2>Educador Fisíco</h2>
                    <p>O profissional de educação física promove a saúde das pessoas
                        por meio da prática de atividades físicas, mas suas funções vão além disso.
                        Esse profissional também é responsável por coordenar, planejar e
                        supervisionar programas esportivos e
                        recreativos que visam ao desenvolvimento social dos indivíduos.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4 d-flex align-items-center flex-column beneficios-conteudo">
                    <div class="circle">
                        <img src="{{url_for('static', filename='img/coach2.jpg')}}" alt="Coach">
                    </div>
                    <h2>Coach</h2>
                    <p>O Coach é responsável por conduzir o cliente por caminhos que
                        vão evidenciar as habilidades natas,
                        fomentar o conhecimento adquirido durante os anos de trabalho,
                        mas principalmente trabalhar o comportamento adequado para potencializar
                        as habilidades e os conhecimentos ao seu grau máximo e, consequentemente,
                        alcançar os resultados.</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </section>
    </div>
</main>
{% endblock %}