<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block styles %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_login.css') }}">
  {% endblock %}

  <!-- Optional JavaScript; -->
  {% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  {% endblock scripts %}


  {% endblock head %}
</head>

<body>
{% block content %}

<header>
  <div class="container-nav">
    <nav class="navbar navbar-expand-sm navbar-light" >
    <a href="{{ url_for('site.index') }}" class="navbar-brand">
      <img id="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="Herbalife Ademir e Barbára">
    </a>
  </nav>
  </div>
</header>
 
<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 login-img order-md-2">
          <img src="{{url_for('static', filename='img/login.svg')}}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Entrar</h3>
              <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
            <form action="" method="post">
              {{ form_login.hidden_tag() }}
              <div class="form-group first">
                {{ form_login.email.label(for="email") }}
                {{ form_login.email(type="email", class="form-control", id="email") }}
                {% for error in form_login.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
              <div class="form-group last mb-4">
                {{ form_login.password.label(for="password") }}
                {{ form_login.password(type="password", class="form-control", id="password") }}                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <span class="ml-auto"><a href="{{ url_for('auth.register') }}" class="forgot-pass">Criar conta</a></span> 
              </div>
              {{ form_login.submit(type="submit", value="Entrar", class="btn button-login text-white btn-block") }}
             
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>