{% extends "base.html" %}
{% block app_content %}
<div class="row d-flex justify-content-end">
    <hr>
    <div class="procurar col-6 col-md-4 d-flex flex-grow-3 justify-content-evenly align-items-baseline">
        <div>
            <form>
                <label class="form-label">
                    <input type="search" class="form-control" placeholder="Procurar">
                </label>
                <a href="#"><i class="icon-prod fs-5 bi-search"></i></a>
            </form>
        </div>
        <a href="#"><i class="icon-prod fs-4 bi bi-cart-fill"></i></a>
    </div>
    <hr>
</div>
<section class="section-feed">
    <div class="container container-feed">
        <div class="card-group">
            <div class="row row-cols-4 g-4">
                {% for product in products %}
                <div class="card align-items-center col" style="width: 17rem; height: auto;">
                    <img src="{{ url_for('static', filename='img/products/' + product.image) }}" class="card-img-top w-50 h-40 py-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <h5 class="card-price">{{ product.price }}</h5>
                        <a href="#AdicionarCarrinho" class="btn btn-success cart-button"><i class="bi bi-cart-plus"></i></a>
                        <a href="{{ url_for('Produtos.products_id', id=product.id) }}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
</section>

<script>
    var productsPrices = document.getElementsByClassName("card-price");
    for (var produtPrice of productsPrices) {
	    var num = parseFloat(produtPrice.innerHTML);
	    produtPrice.innerHTML = num.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
    }
</script>
{% endblock %}