{% extends "base.html" %}
{% block app_content %}
<div class="row d-flex justify-content-end">
    <hr>
    <div class="procurar col-6 col-md-4 d-flex flex-grow-3 justify-content-evenly align-items-baseline">
        <div>
            <form>
                <label class="form-label">
                    <input type="search" class="form-control" placeholder="Procurar">
                </label>
                <a href="#"><i class="icon-prod fs-5 bi-search"></i></a>
            </form>
        </div>
        <a href="#"><i class="icon-prod fs-4 bi bi-cart-fill"></i></a>
    </div>
    <hr>
</div>
<section class="section-feed">
    <div class="container container-feed">
        <div class="card-group">
            <div class="card align-items-center" style="width: 17rem; height: auto;">
                <img src="../static/img/prod1.png" class="card-img-top w-50 h-40 py-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shake Herbalife</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5 class="card-price">R$ 40,00</h5>
                    <a href="#AdicionarCarrinho" class="btn btn-success cart-button"><i class="bi bi-cart-plus"></i></a>
                    <a href="/produtos/45" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                </div>
            </div>

            <div class="card align-items-center" style="width: 17rem; height: auto;">
                <img src="../static/img/prod1.png" class="card-img-top w-50 h-40 py-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shake Herbalife</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5 class="card-price">R$ 40,00</h5>
                    <a href="#AdicionarCarrinho" class="btn btn-success cart-button"><i class="bi bi-cart-plus"></i></a>
                    <a href="/produtos/45" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                </div>
            </div>

            <div class="card align-items-center" style="width: 17rem; height: auto;">
                <img src="../static/img/prod1.png" class="card-img-top w-50 h-40 py-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shake Herbalife</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5 class="card-price">R$ 40,00</h5>
                    <a href="#AdicionarCarrinho" class="btn btn-success cart-button"><i class="bi bi-cart-plus"></i></a>
                    <a href="/produtos/45" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                </div>
            </div>

            <div class="card align-items-center" style="width: 17rem; height: auto;">
                <img src="../static/img/prod1.png" class="card-img-top w-50 h-40 py-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shake Herbalife</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5 class="card-price">R$ 40,00</h5>
                    <a href="#AdicionarCarrinho" class="btn btn-success cart-button"><i class="bi bi-cart-plus"></i></a>
                    <a href="/produtos/45" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                </div>
            </div>
        </div>

        <div class="card-group py-3">
            <div class="card align-items-center" style="width: 17rem; height: auto;">
                <img src="../static/img/prod1.png" class="card-img-top w-50 h-40 py-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shake Herbalife</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5 class="card-price">R$ 40,00</h5>
                    <a href="#AdicionarCarrinho" class="btn btn-success cart-button"><i class="bi bi-cart-plus"></i></a>
                    <a href="/produtos/45" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                </div>
            </div>

            <div class="card align-items-center" style="width: 17rem; height: auto;">
                <img src="../static/img/prod1.png" class="card-img-top w-50 h-40 py-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shake Herbalife</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5 class="card-price">R$ 40,00</h5>
                    <a href="#AdicionarCarrinho" class="btn btn-success cart-button"><i class="bi bi-cart-plus"></i></a>
                    <a href="/produtos/45" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                </div>
            </div>

            <div class="card align-items-center" style="width: 17rem; height: auto;">
                <img src="../static/img/prod1.png" class="card-img-top w-50 h-40 py-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shake Herbalife</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5 class="card-price">R$ 40,00</h5>
                    <a href="#AdicionarCarrinho" class="btn btn-success cart-button"><i class="bi bi-cart-plus"></i></a>
                    <a href="/produtos/45" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                </div>
            </div>

            <div class="card align-items-center" style="width: 17rem; height: auto;">
                <img src="../static/img/prod1.png" class="card-img-top w-50 h-40 py-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shake Herbalife</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5 class="card-price">R$ 40,00</h5>
                    <a href="#AdicionarCarrinho" class="btn btn-success cart-button"><i class="bi bi-cart-plus"></i></a>
                    <a href="/produtos/45" class="btn btn-primary"><i class="bi bi-eye"></i></a>
                </div>
            </div>
        </div>
</section>
{% endblock %}