{% extends "base.html" %}
{% block app_content %}
<section class="section-feed">
    <div class="container container-feed py-4 d-flex justify-content-center">
        <div class="card " style="width: 52.5rem; height:auto; right:auto;">
            <div class="row g-1">
                <div class="col-md-4" style="width:25rem; height:25rem;">
                    <img src="{{ url_for('static', filename='img/products/' + product.image) }}"
                        class="card-img-top w-20 h-20 py-10">
                </div>
                <div class="card-body col-md-4">
                    <div class="row gy-5 d-flex justify-content-end ">
                                <h5 class="card-title text-end me-3" style="font-size: 2em; font-weight: 700; color:#008523 ;">{{ product.name }}
                                </h5>
                                <p class="card-text text-end me-3" style="font-size: 1.5em;">{{
                                    product.description }}</p>
                                <h5 class="card-price text-end me-4" style="font-size: 2em; font-weight: 700;">{{ product.price
                                    }}</h5>
                                {% if current_user.is_anonymous %}
                                {%else%}
                                <a href="{{ url_for('Produtos.add_cart', id=product.id, user_id=current_user.id) }}" style="width: 15em;"
                                    class="btn btn-success cart-button"><i class="bi fs-4 bi-cart-plus"></i></a>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var productsPrices = document.getElementsByClassName("card-price");
    for (var produtPrice of productsPrices) {
        var num = parseFloat(produtPrice.innerHTML);
        produtPrice.innerHTML = num.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' });
    }
</script>
{% endblock %}